*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.line{
    background-color: #B9995C;
    width: 100px;
    height: 5px;
    display: inline-block;
    border-radius: 15%;
}

header{
    background-color: $color_Header;
    width:$ancho-contenedor;
    height: 70px;
    position: fixed;
    text-align: center;
    z-index: 3;
    #logo{
        font-family: $font_logo;
        font-size: 24px;
        p{
            padding-top: 9px;
            font-size: 34px;
            color: #efefef;
        }
    }
    nav{
        padding-top:9px;
    }
    ul li{
        display:inline;
        
        
    }
    ul li a{
        font-family: $font_logo;
        font-size: 24px;
        margin: 3px;
        text-decoration: none;
        color: #efefef;
        
    }
    ul li a:hover{
        color:$color_hover;
    }
}
#carrousel{
    padding-top: 40px;
}
#about{
    background-color: $color_background;
    .img img{
        @include circle;
    }
    #description{
        margin-bottom: 30px;
        color: $in_white_color_txt;
        .text{
            float: right;
        }
    }
}
#skills{
    background-image: url('../css/images/lucecitas.jpg');
    background-position: bottom;
    background-size: cover;
    text-align: center;
    i{
        font-size: $size_icon;
        color: $in_black_color_txt;   
    }
    h2{
        color:$in_black_color_txt;

    }
    #ico-1{
        @include margin-align;
        
    }
    #ico-2{
        @include margin-align;
        
    }
    #ico-3{
        @include margin-align;
       
    }
    .ico i:hover{
        transform: scale(1.05);
        box-shadow: 3px 3px 10px rgba(0,0,0,0.6);
    }

    
    
}
.ico i.blur{
    filter: blur(3px); 
}

.title{
    @include large-title-text;
    @include margin-align;
}
#works{
    background-color: $color_background;
}
#contact{
    background-color: #e0d7c5;
    .contact{
        text-align: center;
    }
    
    
}
footer{
    background-color: $color_footer;
    text-align: center;
    h2{
        color: $in_black_color_txt;
    }
    img{
        padding-bottom: 19px;
    }
    .lineWhite{
        background-color: $in_black_color_txt ;
        width: 100px;
        height: 5px;
        display: inline-block;
        margin-bottom: 12px;
    }
    i{
        color: $in_black_color_txt;
        font-size: 34px; 
    }
    .fa-linkedin-in{
        color: $in_black_color_txt;
        font-size: 34px; 
    }
    p{
        color : $in_black_color_txt;
    }
}
.clas{
    text-align: center;
    ul li{
        display: inline-block;
        list-style: none;
        margin:7px;
    }
}
#pag1{
    width: 300px;
    height: 250px;
    background-image: url('../css/images/pagina1.png');
    background-size: cover;
    
}
#pag2{
    width: 300px;
    height: 250px;
    background-image: url('../css/images/pagina2.png');
    background-size: cover;
}
#pag3{
    width: 300px;
    height: 250px;
    background-image: url('../css/images/pagina3.png');
    background-size: cover;
    background-position: bottom;
}
#pag4{
    width: 300px;
    height: 250px;
    background-color: fuchsia;

}
#pag5{
    width: 300px;
    height: 250px;
    background-color: orange;
}
#pag6{
    width: 300px;
    height: 250px;
    background-color: aquamarine;
} 



