$color_Header: #BC9364;
$color_footer: #2E2E2E;
$in_black_color_txt: #fff;
$in_white_color_txt:#000;
$color_hover:#D0B8AC;
$color_background: #F0EADA;
$font_logo:'Rancho', cursive;
$common_txt_font:  'Raleway', sans-serif;
$title_txt_font: 'Kurale', serif;
$size_icon: 7em;
$ancho-contenedor: 100%;
